.backgroundOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #212020;
    opacity: .85;
    filter: alpha(opacity=85);
    -moz-opacity: .85;
    z-index: 101;
    display: none;
}


/*   This is the Popup Window   */

.delayedPopupWindow {
    display: none;
    position: fixed;
    width: 530px;
    max-width: 530px;
    height: 90vh;
    top: 40%;
    left: 50%;
    margin-left: -260px;
    margin-top: -220px;
    background-color: #ffffff;
    background: url(assets/images/emailbg.png) no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    z-index: 102;
    /*    padding: 40px 20px;*/
}

.bottomemail {
    background: white;
    width: 530px;
    display: block;
    position: absolute;
    bottom: 0;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: bold;
}


/*
.delayedPopupWindow .btn {
    position:relative;
    top:300px;
    left:50px;
} */


/*   This is the closing button  */

#btnClose {
    width: 100%;
    display: block;
    text-align: right;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    top: -10px;
    left: 60px;
    font-size: 22pt;
}


/*   This is the description headline and paragraph for the form   */

#delayedPopup > div.formDescription {
    float: left;
    display: block;
    width: 44%;
    padding: 1% 3%;
    font-size: 18px;
    color: #666;
    clear: left;
}


/*   This is the styling for the form's headline   */

#delayedPopup > div.formDescription h2 {
    color: #444444;
    font-size: 36px;
    line-height: 40px;
}


/* 
////////// MailChimp Signup Form //////////////////////////////
*/


/*   This is the signup form body  */

#delayedPopup #mc_embed_signup {
    float: left;
    width: 47%;
    padding: 1%;
    display: block;
    font-size: 16px;
    color: #666;
    margin-left: 1%;
}


/*   This is the styling for the signup form inputs  */

#delayedPopup #mc-embedded-subscribe-form input {
    width: 95%;
    height: 30px;
    font-size: 18px;
    padding: 3px;
    margin-bottom: 5px;
}


/*   This is the styling for the signup form inputs when they are being hovered with the mouse  */

#delayedPopup #mc-embedded-subscribe-form input:hover {
    border: solid 2px #40c348;
    box-shadow: 0 1px 3px #AAAAAA;
}


/*   This is the styling for the signup form inputs when they are focused  */

#delayedPopup #mc-embedded-subscribe-form input:focus {
    border: solid 2px #40c348;
    box-shadow: none;
}


/*   This is the styling for the signup form submit button  */

#delayedPopup #mc-embedded-subscribe {
    width: 100%!important;
    height: 40px!important;
    margin: 10px auto 0 auto;
    background: #5D9E62;
    border: none;
    color: #fff;
}


/*   This is the styling for the signup form submit button hover state  */

#delayedPopup #mc-embedded-subscribe:hover {
    background: #40c348;
    color: #fff;
    box-shadow: none!important;
    cursor: pointer;
}